* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: violet;

  color: indigo;
  text-align: left;
}

.App {
  width: 33%;
  margin: auto;
}

.Header {
  color: indigo;
  font-size: 30px;
  padding: 20px;
  background-image: none;
  text-align: center;
}

table {
  width: 100%;
}

.emoji-cells {
  white-space: nowrap;
  width: 25%;
}

.response-cells {
  width: 75%;
}

.btn {
  padding: 15px 32px;
  border-radius: 10%;
  margin: 10px;
  background-image: none;
}

.btn-success {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.btn-warning {
  background-color: rgb(255, 160, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-danger {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-sm {
  font-size: 20px;
  padding: 7px, 14px;
  border: 1px solid gray;
  margin: 7px;
  background-color: rgb(189, 163, 167);
  border-radius: 10%;
}
